<div class="container">
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
	  <h1>Bean2bean</h1>
	  <p >The best bean manipulator library</p>
	</div>
	
	<!-- Example row of columns -->
	<div class="row">
	  <div class="span4">
	    <h2>Universal converter</h2>
	    <p>Convert any object to any other kind in one line, by using the default conversions or adding your owns very easily</p>
	    <p><a class="btn" href="#">More info &raquo;</a></p>
	  </div>
	  <div class="span4">
	    <h2>Object mapper</h2>
	    <p>Using annotations or declarative programming you can map properties from one class to another to sync values, copy properties, or make transfer objects representations</p>
	    <p><a class="btn" href="#">More info &raquo;</a></p>
	  </div>
	  <div class="span4">
	    <h2>Bean manipulator</h2>
	    <p>Small but fast reflective API for bean manipulation enables you to extend reflection with powerfull and declarative constructs</p>
	    <p><a class="btn" href="#">More info &raquo;</a></p>
	  </div>
	</div>
</div>