<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<div class="well sidebar-nav">
				<p>
	              	Busqueda: <input ng-model="textoBuscado" class="input-block-level">
	              	<a class="btn" href="#/conceptos/lista/{{textoBuscado}}">Actualizar &raquo;</a>
				</p>
	            <ul class="nav nav-list">
	              <li class="nav-header">Relacion 1</li>
	              <li class="active"><a href="#">Concepto</a></li>
	              <li><a href="#">Link</a></li>
	              <li><a href="#">Link</a></li>
	            </ul>
	          </div><!--/.well -->
		</div>
		<div class="span10">
			<div class="hero-unit">
				<div class="control-group">
					<label class="control-label" for="nombreCorto">Nombre corto</label>
					<div class="controls">
						<input ng-model="conceptoEditado.nombreCorto" id="nombreCorto" placeholder="Como me recordas?" class="input-block-level" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="nombreComoRelacion">Como relacion</label>
					<div class="controls">
						<textarea ng-model="conceptoEditado.nombreComoRelacion" id="nombreComoRelacion" placeholder="Qué debería decir al unir 2 conceptos?" class="input-block-level" />
					</div>
					<label class="control-label" for="descripcion">Descripcion</label>
					<div class="controls">
						<textarea ng-model="conceptoEditado.descripcion" id="descripcion" placeholder="Como me describis?" class="input-block-level" />
					</div>
				</div>
				<div>
		           <p><a ng-click="guardar(conceptoEditado)" class="btn btn-success btn-large">Guardar &raquo;</a></p>
				</div>
	         </div>
	         <div class="row-fluid">
	           <div class="span4">
	             <h2>Heading</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	           <div class="span4">
	             <h2>Heading</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	           <div class="span4">
	             <h2>Heading</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	         </div><!--/row-->
	         <div class="row-fluid">
	           <div class="span4">
	             <h2>Heading</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	           <div class="span4">
	             <h2>Heading</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	           <div class="span4">
	             <h2>Heading</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	         </div><!--/row-->
		</div>
	</div>
</div>