<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<div class="well sidebar-nav">
				<p>
	              	Busqueda: <input ng-model="textoBuscado" class="input-block-level">
	              	<a class="btn" href="#/conceptos/lista/{{textoBuscado}}">Actualizar &raquo;</a>
				</p>
	            <ul class="nav nav-list">
	              <li class="nav-header">Resultados</li>
	               <li ng-repeat="concepto in conceptos" ng-class="{active: concepto==conceptoElegido}">
					<a ng-click="cambiarElegido(concepto)">{{concepto.nombreCorto}}</a>
				   </li>
	            </ul>
	          </div><!--/.well -->
		</div>
		<div class="span8">
			<div class="hero-unit">
	           <h1>{{conceptoElegido.nombreCorto}}</h1>
	           <p>Como relación: {{conceptoElegido.nombreComoRelacion}}</p>
	           <pre>{{conceptoElegido.descripcion}}</pre>
	           <p><a href="#/conceptos/detalle/{{conceptoElegido.id}}" class="btn btn-primary btn-medium">Editar &raquo;</a></p>
	         </div>
	         <div class="row-fluid">
	           <div class="span4">
	             <h2>Relacion 1</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	           <div class="span4">
	             <h2>Relacion 2</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	           <div class="span4">
	             <h2>Relacion 3</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	         </div><!--/row-->
	         <div class="row-fluid">
	           <div class="span4">
	             <h2>Heading</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	           <div class="span4">
	             <h2>Heading</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	           <div class="span4">
	             <h2>Heading</h2>
	             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	           </div><!--/span-->
	         </div><!--/row-->
		</div>
	</div>
</div>