*.iml
.idea
bean2bean/bower_components/*

#Bootstrap
!bean2bean/bower_components/bootstrap
bean2bean/bower_components/bootstrap/*
!bean2bean/bower_components/bootstrap/dist
bean2bean/bower_components/bootstrap/dist/*
!bean2bean/bower_components/bootstrap/dist/css
bean2bean/bower_components/bootstrap/dist/css/*
!bean2bean/bower_components/bootstrap/dist/css/bootstrap.css

!bean2bean/bower_components/bootstrap/dist/js
bean2bean/bower_components/bootstrap/dist/js/*
!bean2bean/bower_components/bootstrap/dist/js/bootstrap.min.js

#Jquery
!bean2bean/bower_components/jquery
bean2bean/bower_components/jquery/*
!bean2bean/bower_components/jquery/dist
bean2bean/bower_components/jquery/dist/*
!bean2bean/bower_components/jquery/dist/jquery.js

#Ember
!bean2bean/bower_components/ember
bean2bean/bower_components/ember/*
!bean2bean/bower_components/ember/ember.js
!bean2bean/bower_components/ember/ember-template-compiler.js

# Ember-data
!bean2bean/bower_components/ember-data
bean2bean/bower_components/ember-data/*
!bean2bean/bower_components/ember-data/ember-data.js
